body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 32px;
  border-radius: 18px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.187);
}

.card img {
  width: 280px;
  border-radius: 14px;
}

.card .card-content {
  width: 230px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card .card-content h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: rgb(43, 50, 43);
  font-weight: 600;
  margin-bottom: 40px;
}

.card .card-content p {
  font-size: 18px;
  margin-top: 18px;
}

.card .card-content p span {
  font-size: 16px;
}

/* Media Query for medium screens (1280px) */
@media (max-width: 1280px) {
  .card {
    max-width: 600px;
    padding: 32px;
  }

  .card img {
    width: 280px;
  }

  .card .card-content {
    width: 230px;
    height: 180px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    flex-direction: column;
  }

  .card img {
    width: 100%;
    border-radius: 14px;
  }

  .card .card-content {
    width: 100%;
    text-align: center;
  }

  .card .card-content h3 {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .card .card-content p {
    font-size: 14px;
    margin-top: 8px;
  }

  .card .card-content p span {
    font-size: 12px;
  }
}
